/*
 *
 *
*/

/*** KEYFRAMEs ***/


/*** TAGs ***/
body {
    background: #eae7e7;
}

a {
    /*color: white !important;*/
    cursor: pointer !important;
}

a:hover {
    text-decoration: none !important;
}

table,
table > thead th {
  text-align: center;
}
/*** CLASSes ***/

.container {
  font: 15px junction;
  width: 800px !important;
}

.panel {
  box-shadow: 0px 0px 10px gray;
  margin: 20px 0px;
}

.panel-heading {
  font: 25px fontin-sans;
  text-align: center;
}

.usrtb {
    left: 0px;
    position:fixed;
    top: 78px;
    width: 100px;
}

.sub-usrtb {
    background: #0c7769;
    border-top: 0px solid #3a9c31;
    border-bottom: 1px solid #096055;
    color: white;
    cursor: pointer;
    font-family: monterey;
    font-size: 20px;
    height:100px;
    padding: 20px 5px;
    text-align: center;
    width: 100%;
}

.usrtb2 {
    position:fixed;
    right: 0;
    top: 78px;
    width: 100px;
}

.sub-usrtb2 {
    background: #a57a3a;
    border-top: 0px solid #9f6923;
    border-bottom: 1px solid #906a31;
    color: white;
    cursor: pointer;
    font-family: monterey;
    font-size: 20px;
    height:100px;
    padding: 20px 5px;
    text-align: center;
    width: 100%;
}

.sub-agent-upload {
  margin: 50px auto;
  width: 400px;
}

.sub-agent-upload > div {
  height: 30px;
  padding: 0 !important;
  width: 100px;
}

.sub-agent-upload > div > p {
  padding: 5px 20px;
  position: absolute;
}

.contest-create {
  margin: 60px auto 20px auto;
  width: 100px;
  text-align: center;
}

.contest-create > .dropdown {
  position: absolute;
}

.contest-create > button {
  margin-left: 50px;
}

.glyphicon-edit:hover {
  color: orange !important;
  cursor: pointer;
}

.glyphicon-remove,
.glyphicon-trash:hover {
  color: red !important;
  cursor: pointer;
}

/*.agent-upload,*/
.agent-contest,
.agent-monitor,
.agent-ranking {
  display: none;
}
/*** IDs ***/

#header {
    background-image: url("../images/cc.jpg");
    color: #f6f6f6;
    font-family: generica;
    padding: 10px;
    text-align: center;
}

#header p {
    border: 1px dashed gray;
    cursor: default;
    font-size: 25px;
    margin: auto;
    padding: 10px;
    text-shadow: 0px 0px 10px #d2d2d2;
    width:200px;
}

#lang-indicator {
  color: #c5c5c5;
}

#sub-lang-indicator {
  font-weight: bold;
}

#uploadBtn {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  width: 100px;
}

#joinModal .modal-header {
  background-color: #5a1823;
  color: #eee3d3;
}

#joinModal .modal-header .close {
  color: #ececec !important;
}

#joinModal .modal-body {
  background-color: #eee3d3;
  text-align: center;
}

/*** FONTs ***/

@font-face {
    font-family: generica;
    src:url("../fonts/Generica.otf");
}

@font-face {
    font-family: monterey;
    src: url("../fonts/MontereyFLF.ttf");
}

@font-face {
    font-family: raleway;
    src: url("../fonts/Raleway-ExtraLight.ttf");
}

@font-face {
  font-family: junction;
  src: url('../fonts/Junction.otf');
}

@font-face  {
  font-family: fontin-sans;
  src: url("../fonts/Fontin_Sans_B_45b.otf");
}
